body {
  font: 13px/1.5 Helvetica, Arial, sans-serif;
  width: 500px;
  margin: 10px 20px 20px;
}

a {
  color: #678;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid #ddd;
}

h1, h2, h3, p {
  font-weight: normal;
  margin: 0 0 10px;
}

h2 {
  font-size: 1.3em;
}

div.post {
  padding-top: 10px;
  border-top: 1px dotted #ccc;
}

.meta {
  color: #aaa;
  font-size: .8em;
}

p.meta {
  text-align: right;
}

div.footer {
  border-top: 1px dotted #ccc;
  padding-top: 15px;
}