@font-face {
  font-family: 'OFLSortsMillGoudyRegular';
  src: url('/fonts/oflgoudystm-webfont.eot');
  src: url('/fonts/oflgoudystm-webfont.eot?iefix') format('eot'),
     url('/fonts/oflgoudystm-webfont.woff') format('woff'),
     url('/fonts/oflgoudystm-webfont.ttf') format('truetype'),
     url('/fonts/oflgoudystm-webfont.svg#webfontIc61zr8A') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OFLSortsMillGoudyItalic';
  src: url('/fonts/oflgoudystm-italic-webfont.eot');
  src: url('/fonts/oflgoudystm-italic-webfont.eot?iefix') format('eot'),
     url('/fonts/oflgoudystm-italic-webfont.woff') format('woff'),
     url('/fonts/oflgoudystm-italic-webfont.ttf') format('truetype'),
     url('/fonts/oflgoudystm-italic-webfont.svg#webfontVn2YY95h') format('svg');
  font-weight: normal;
  font-style: italic;
}

body {
  font: 14px/1.5 "OFLSortsMillGoudyRegular", Georgia, serif;
  width: 500px;
  margin: 10px 20px 20px;
}

a {
  color: #4E3020;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid #ddd;
}

h1, h2, h3, p {
  font-weight: normal;
  margin: 0 0 10px;
}

h1 {
  font-size: 2em;
  margin-top: 15px;
}

h2 {
  font-size: 1.3em;
}

div.post {
  padding-top: 10px;
  border-top: 1px dotted #ccc;
  position: relative;
}

div.audio h2 {
  display: none;
}

.meta {
  font-family: "OFLSortsMillGoudyItalic", Georgia;
  font-style: italic;
  color: #999;
  font-size: .8em;
}

p.meta {
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f6f6f6;
  padding: 3px 5px;
}

p.meta span.divider {
  padding: 0 2px;
  color: #ccc;
}

div.next-page, div.footer {
  border-top: 1px dotted #ccc;
  padding: 15px 0 12px;
}
