@font-face {
  font-family: 'LeagueGothicRegular';
  src: url('/fonts/League_Gothic-webfont.eot');
  src: url('/fonts/League_Gothic-webfont.eot?iefix') format('eot'),
    url('/fonts/League_Gothic-webfont.woff') format('woff'),
    url('/fonts/League_Gothic-webfont.ttf') format('truetype'),
    url('/fonts/League_Gothic-webfont.svg#webfontFHzvtkso') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font: 14px/1.5 Georgia, serif;
  background-color: #b1e8fd;
  color: rgba(0, 0, 0, 0.8);
}

a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}

a:hover {
  border-color: rgba(0, 0, 0, 0.4);
}

div.container {
  width: 500px;
  margin: 20px auto;
}

h1, h2, h3, p {
  font-weight: normal;
  margin: 0 0 10px;
}

h1 {
  font: 6em "LeagueGothicRegular", sans-serif;
  margin-top: 15px;
  letter-spacing: 0.2em;
  padding-left: 0.2em;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 2px 2px #b1e8fd, 5px 5px rgba(0, 0, 0, 0.3);
}

h1 a {
  color: white;
  border: none;
}

h2 {
  font: 1.8em "LeagueGothicRegular", sans-serif;
  letter-spacing: 0.1em;
}

h2 a {
  color: rgba(0, 0, 0, 0.7);
  border: none;
}

h2 a .star {
  position: relative;
  top: -3px;
  font-size: .7em;
}

ul.post-types {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin-top: -10px;
  margin-bottom: 15px;
}

ul.post-types li {
  display: inline;
}

ul.post-types li a {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 3px 6px;
  margin-right: 5px;
  border-radius: 5px;
}

ul.post-types li.active a {
  border-color: rgba(0, 0, 0, 0.4);
}

div.post {
  padding: 20px 0 10px;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  position: relative;
}

div.post pre {
  padding-left: 20px;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.5);
}

div.audio h2 {
  display: none;
}

.meta {
  font-size: 0.8em;
  font-style: italic;
  line-height: normal;
  color: rgba(0, 0, 0, 0.8);
}

p.meta {
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 3px 5px 4px;
}

p.meta span.divider {
  padding: 0 2px;
  color: rgba(0, 0, 0, 0.3);
}

div.next-page, div.footer {
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  padding: 15px 0 12px;
}
