<div class="post audio">
  <h2><a href="/{{url}}">{{{title}}}</a></h2>

  <p>
    <audio src="/audio/{{file}}" controls="controls"></audio>
    <br />
    <span class="meta">
      <a href="/audio/{{file}}">Download &ldquo;{{{title}}}&rdquo;</a>
    </span>
  </p>

  {{{body}}}

  <p class="meta">
    <a href="/{{url}}">{{formatted_date}}</a>
  </p>
</div>
