<div class="post audio">
  <h2><a href="/{{url}}">{{{title}}}</a></h2>

  <p>
    <object type="application/x-shockwave-flash" data="/flash/player_mp3.swf" width="200" height="20">
      <param name="movie" value="player_mp3.swf" />
      <param name="FlashVars" value="mp3=/audio/{{file}}" />
      <param name="bgcolor" value="#b1e8fd" />
    </object>
    <br />
    <span class="meta">
      <a href="/audio/{{file}}">Download &ldquo;{{{title}}}&rdquo;</a>
    </span>
  </p>

  {{{body}}}

  <p class="meta">
    <a href="/{{url}}">{{formatted_date}}</a>
    <span class="divider">|</span>
    <a href="{{source_url}}">Source</a>
  </p>
</div>
