<div class="post audio">
  <h2><a href="/{{url}}">{{{title}}}</a></h2>

  <p>
    <audio src="/mp3/{{file}}" controls="controls"></audio>
  </p>

  <h3>
    <a href="/{{url}}">{{formatted_date}}</a>
  </h3>

  <p>
    <em>{{{title}}}</em>
    <a href="/mp3/{{file}}">(mp3)</a>
  </p>


  {{{body}}}
</div>
