<div class="post">
  <h2><a href="{{href}}">{{{title}}}</a></h2>

  {{{body}}}

  <p class="meta">
    <a href="/{{url}}">{{formatted_date}}</a>
    <span class="divider">|</span>
    <a href="{{source_url}}">Source</a>
  </p>
</div>
