<div class="post photo">
  <h2><a href="/{{url}}">{{{title}}}</a></h2>

  <p class="img">
    <img src="/images/{{file}}" />
  </p>

  {{{body}}}

  <p class="meta">
    <a href="/{{url}}">{{formatted_date}}</a>
  </p>
</div>

