<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Davidmade</title>
  <link rel="self" href="http://davidmade.com/index.atom" />
  <link rel="alternate" href="http://davidmade.com/" />
  <updated>{{updated_at}}</updated>
  <author>
    <name>David Eisinger</name>
  </author>
  <id>tag:davidmade.com,2011:/index.atom</id>

  {{#posts}}
    <entry>
      <title type="html">{{title}}</title>
      <link href="http://davidmade.com/{{url}}" />
      <id>tag:davidmade.com,{{date}}:/{{url}}</id>
      <updated>{{timestamp}}</updated>
      <content type="html">
        {{#photo?}}
          &lt;img src="/images/{{file}}" width="480" height="360" /&gt;
        {{/photo?}}

        {{body}}

        {{#audio?}}
          &lt;a href="/audio/{{file}}"&gt;
            &amp;ldquo;{{title}}&amp;rdquo; (MP3)
          &lt;/a&gt;
        {{/audio?}}
      </content>
    </entry>
  {{/posts}}
</feed>
