<!DOCTYPE html>
<html>
  <head>
    <title><a href="/">Davidmade</a></title>
  </head>

  <body>
    <h1>Davidmade</h1>

    {{#posts}}
      <h2>{{title}}</h2>
      {{{body}}}
    {{/posts}}
  </body>
</html>
