<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" charset="utf-8">
    <link href="/index.atom" rel="alternate" title="Davidmade" type="application/atom+xml" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22102585-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <script type="text/javascript" src="http://use.typekit.com/fuy0znj.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body>
    <div class="container">
      <h1><a href="/">D<span class="second">a</span>vidmad<span class="last">e</span></a></h1>

      <ul class="meta post-types">
        {{#post_types}}
          <li class="{{#active}}active{{/active}}">
            <a href="{{url}}">{{label}}</a>
          </li>
        {{/post_types}}
      </ul>

      {{{yield}}}

      <div class="footer">
        <p>
          This is a <a href="http://davideisinger.com">David Eisinger</a> production.<br />
          View <a href="https://github.com/dce/davidmade">the source</a> or
          subscribe to <a href="/index.atom">the feed</a>.
        </p>
      </div>
    </div>
  </body>
</html>
