<!DOCTYPE html>
<html>
  <head>
    <title>Davidmade</title>

    <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" charset="utf-8">
  </head>

  <body>
    <h1><a href="/">Davidmade</a></h1>

    {{{yield}}}

    <div class="footer">
      This is a <a href="http://davideisinger.com">David Eisinger</a> production.
      May <a href="https://github.com/dce/davidmade">the source</a> be with you.
    </div>
  </body>
</html>