<!DOCTYPE html>
<html>
  <head>
    <title>Davidmade</title>
  </head>

  <body>
    <h1><a href="/">Davidmade</a></h1>

    {{{yield}}}

    <hr />
    <p>
      This is a <a href="http://davideisinger.com">David Eisinger</a> production.
    </p>
  </body>
</html>